<section class="fixed top-0 left-0 w-full h-36 bg-gradient-to-t from-sky-800 to-slate-900 text-white">
	<div class="container flex justify-center items-center h-full">
		<a href="/" class="text-3xl font-thin block border border-white px-5 py-2.5 rounded-lg">
			Going to space with Astro + Storyblok
		</a>
	</div>
</section>
