---
import { getEditableAttributes } from '../../utils/storyblok.js'
import StoryblokComponents from '../components/StoryblokComponents.astro';

const { story } = Astro.props

const editableAttributes = await getEditableAttributes(story)
---

<main
	data-blok-c={editableAttributes['data-blok-c']}
	data-blok-uid={editableAttributes['data-blok-uid']}
	class:list={[{ 'storyblok__outline': editableAttributes }]}
>
	<StoryblokComponents story={story} />
</main>